@use "/src/scss/index" as *;

.years {
  position: relative;
  background-color: $white;
  width: 270px;
  height: 160px;
  padding: 0px 0px 0px 0px;
  display: flex;
  flex-wrap: wrap;
  margin-top: auto;
  margin-bottom: auto;
  cursor: pointer;
  &__text {
    margin-top: auto;
    margin-bottom: auto;
    font-family: $font;
    font-size: 17px;
    color: $white;
  }
  &:active {
    background-color: darken($red, 10%);
  }
}
