@use "/src/scss/index" as *;

.years {
  position: relative;
  background-color: $white;
  height: 160px;
  width: 270px;
  padding: 0px 0px 0px 0px;
  margin-top: auto;
  margin-bottom: auto;
  cursor: pointer;
  transition: .3s ease all;
	z-index: 10;
  &__items {
    position: relative;
    display: flex;
    flex-wrap: wrap;
  }
}
