@use "/src/scss/index" as *;

.years {
  position: relative;
  background-color: $white;
  height: 160px;
  width: 270px;
  padding: 0px 0px 0px 0px;
  margin-top: auto;
  margin-bottom: auto;
  overflow-y: hidden;
  cursor: pointer;
  &__items {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 320px;
  }
}
