@use "/src/scss/index" as *;

.navLogin {
  position: relative;
  padding: 5px 10px 5px 5px;
  background-color: $black;
  width: fit-content;
  display: flex;
  cursor: pointer;
  &__image {
    margin-top: auto;
    margin-bottom: auto;
    &__img {
      width: 30px;
    }
  }
  &__text {
    padding: 5px 10px 5px 8px;
    margin-top: auto;
    margin-bottom: auto;
    &__h1 {
      font-family: $font;
      font-size: 17px;
      color: $white;
    }
  }
  &:hover {
    background-color: $gray;
  }
  &:active {
    background-color: darken($gray, 10%);
  }
}
