@use "/src/scss/index" as *;

.footer {
  position: relative;
  background-color: $black;
  &--promotion {
    border: 2px solid $blue;
    display: flex;
    justify-content: center;
  }
  &--message {
    border: 2px solid $yellow;
    display: flex;
    justify-content: center;
  }
}
