@use "/src/scss/index" as *;

.calendary {
  position: relative;
  border: 1px solid $black;
  background-color: $red;
  height: auto;
  padding: 0px 150px 0px 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  cursor: pointer;
  &__arrows{
    display: flex;
    justify-content: flex-end;
    background-color: $red;
  }
}
